In [1]:
#import 
import pandas as pd
import re
import os

In [2]:
#check the working directory
os.getcwd()

'C:\\Users\\Administrator'

In [3]:
#change the working directory
os.chdir('E:\\下载\\project\\GOT\\script\\S1')

In [4]:
#reconfirm
os.getcwd()

'E:\\下载\\project\\GOT\\script\\S1'

In [5]:
#webdata scraping

#import
import requests
from bs4 import BeautifulSoup

#get url
url = "https://genius.com/1639510?"

#getting response object
res=requests.get(url)
 
#Initialize the object with the document
soup = BeautifulSoup(res.content, "html.parser")
 
#Get the whole page
page = soup.html
 
#Print each string recursively
#for string in page.strings:
#    print(string)

In [6]:
#save the webpage as text file
f_test=open("S1E1.txt","w", encoding='utf-8') 

for string in page.strings:
    f_test.write(string)

f_test.close()

In [7]:
#open the script
with open("S1E1.txt",encoding='utf-8',errors='ignore') as f:
         data = f.read()
#print the data(if applicable) 
#print(data)

In [8]:
#data cleaning: remove the inequivalent contents

#type the "[begining]" and the "[ending]" between the content we want(edit directly in txt file)
#remove the text above "[begining]"
data = data.split('[begining]')[1]
#print the data(if applicable) 
#print(data)

In [9]:
#remove the text below "[ending]"
data = data.split('[ending]')[0]
#print the data(if applicable) 
#print(data)

In [10]:
#get rid of the "-" in the script
data = data.replace('-', '')
#print the data(if applicable) 
#print(data)

In [11]:
#remove all the blank lines in the script
regex = r"^\s+$"
subst = ""
data = re.sub(regex, subst, data, 0, re.MULTILINE)

regex = r"^$\n"
subst = ""
data = re.sub(regex, subst, data, 0, re.MULTILINE)

#print the data(if applicable) 
#print(data)

In [12]:
#save the cleaned script for later use of wordcloud
f_2=open("word_cloudS1E1.txt","w", encoding='utf-8') 
f_2.write(data)
f_2.close()

In [13]:
#split the lines by the line changing mark
lines = data.split('\n')
#print the data(if applicable) 
#print(data)

In [14]:
#number the lines
myrows = []

num = 1
for line in lines:
    myrows.append([num, line])
    num = num + 1
#check whether the lines have been successfully splited and numbered
myrows[:10]

[[1,
  '[First scene opens with three Rangers riding through a tunnel, leaving the Wall, and going into the woods. (Eerie music in background) One Ranger splits off and finds a campsite full of mutilated bodies, including a child hanging from a tree branch. A birdseye view shows the bodies arranged in a shieldlike pattern. The Ranger rides back to the other two.]'],
 [2,
  'WAYMAR ROYCE: What d’you expect? They’re savages. One lot steals a goat from another lot and before you know it, they’re ripping each other to pieces.'],
 [3,
  'WILL: I’ve never seen wildlings do a thing like this. I’ve never seen a thing like this, not ever in my life.'],
 [4, 'WAYMAR ROYCE: How close did you get?'],
 [5, 'WILL: Close as any man would.'],
 [6, 'GARED: We should head back to the wall.'],
 [7, 'ROYCE: Do the dead frighten you?'],
 [8,
  'GARED: Our orders were to track the wildlings. We tracked them. They won’t trouble us no more.'],
 [9,
  'ROYCE: You don’t think he’ll ask us how they died? Get back on your horse.'],
 [10, '[GARED grumbles.]']]

In [15]:
#turn the numbered and splited lines into dataframe
df = pd.DataFrame(myrows)
df.head()

   0                                                  1
0  1  [First scene opens with three Rangers riding t...
1  2  WAYMAR ROYCE: What d’you expect? They’re savag...
2  3  WILL: I’ve never seen wildlings do a thing lik...
3  4               WAYMAR ROYCE: How close did you get?
4  5                      WILL: Close as any man would.

In [16]:
#name the column
df.columns = ['line', 'text']
df.head()

   line                                               text
0     1  [First scene opens with three Rangers riding t...
1     2  WAYMAR ROYCE: What d’you expect? They’re savag...
2     3  WILL: I’ve never seen wildlings do a thing lik...
3     4               WAYMAR ROYCE: How close did you get?
4     5                      WILL: Close as any man would.

In [17]:
#save the data frame to csv.file
df.to_csv('dataS1E1.csv', index=False,encoding='utf-16')